#division1{
    background-color: black;
    height: 200px;
}
#division2{
    background-color: red;
    height: 200px;
}
#division3{
    background-color: green;
    height: 200px;
}
.div{
    background-color: white;
    height: 20px;
}