#div1{
    background-color: black;
    width: 100%;
    height: 300px;
}
.diva{
    background-color: white;
    width: 900px;
    height: 20px;
}

.divb{
     background-color: white;
    width: 900px;
    height: 20px;
}   
#div3{
    background-color: green;
    width: 100%;
    height: 300px;
}
#img{
    width: 205px;
    height: 200px;
    background-color: red;
    border-left: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 500px;
    padding-bottom: 50px;
    padding-left: 550px;
    padding-top: 50px;
}