h1{
    letter-spacing: 20px;
    word-spacing: 15px;
    text-align: center;
}
body{
    background-color: rgb(180, 129, 94);
}
h2{
    background-color: rgb(151, 26, 26);
    border-top: 7px purple double;
    border-right: 7px yellow inset;
    border-bottom:7px green inset ;
    border-left: 7px blue inset ;
    color: aliceblue;
    padding-top: 40px;
    padding-right:60px ;
    padding-bottom: 80px;
    padding-left: 40px;
    text-align: center;
}
a{
   background-color: rgb(136, 25, 25);
   padding: 15px;
   color: azure;
}
p{
    text-align: center;
}